<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{css/product.css}">
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn sidenav-hide-icon" onclick="closeNav()">&times;</a>

    <a href="#" class="sidenav-show-icon"><img
            src="http://www.albanywoodworks.com/wp-content/uploads/2015/08/home-5-xxl.png" alt=""></a>
    <a href="#" class="sidenav-hide-icon"><img
            src="http://www.albanywoodworks.com/wp-content/uploads/2015/08/home-5-xxl.png" alt="">
        <p>Home Side</p></a>

    <a href="#" class="sidenav-show-icon"><img src="http://www.belatrixsf.com/img/agile-icon-mobile.png" alt=""></a>
    <a href="#" class="sidenav-hide-icon"><img src="http://www.belatrixsf.com/img/agile-icon-mobile.png" alt="">
        <p>Phone Side</p></a>

    <a href="#" class="sidenav-show-icon"><img
            src="http://sachinchoolur.github.io/lightGallery/static/img/icons/touch-w.png" alt=""></a>
    <a href="#" class="sidenav-hide-icon"><img
            src="http://sachinchoolur.github.io/lightGallery/static/img/icons/touch-w.png" alt="">
        <p>Tablet Side</p></a>

    <a href="#" class="sidenav-show-icon"><img
            src="http://contenidos.ceoe.es/CEOE-EN/var/pool/images/ceoe_temas_colores-icon-4-magenta-infraestructura-transportes.png"
            alt=""></a>
    <a href="#" class="sidenav-hide-icon"><img
            src="http://contenidos.ceoe.es/CEOE-EN/var/pool/images/ceoe_temas_colores-icon-4-magenta-infraestructura-transportes.png"
            alt="">
        <p>Laptop Side</p></a>

    <a href="#" class="sidenav-show-icon"><img
            src="https://www.materialui.co/materialIcons/hardware/desktop_windows_white_192x192.png" alt=""></a>
    <a href="#" class="sidenav-hide-icon"><img
            src="https://www.materialui.co/materialIcons/hardware/desktop_windows_white_192x192.png" alt="">
        <p>Desktop Side</p></a>

</div>
<header id="header">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span id="sidenav-open" onclick="openNav()">&#9776; Menu</span>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Phone</a></li>
                    <li><a href="#">Tablet</a></li>
                    <li><a href="#">Laptop</a></li>
                    <li><a href="#">Desktop</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="main">
    <div class="link-list">
        <ul>
            <li>Home ></li>
            <li>Product ></li>
            <li>Phone ></li>
            <li>Apple ></li>
            <li>Iphone</li>
        </ul>
    </div>
    <div class="left-side col-md-5">
        <div class="img-slide-wrapper">

            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="https://cdn.tgdd.vn/Products/Images/42/114111/iphone-x-256gb-400-460copy-400x460.png">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="https://cdn.tgdd.vn/Products/Images/42/114114/iphone-8-plus-256gb2-400x460.png">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="https://cdn.tgdd.vn/Products/Images/42/93713/iphone-7-plus-red-256gb-400x460.png">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="https://cdn.tgdd.vn/Products/Images/42/60546/iphone-5s-16gb-7-400x460.png">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Thumbnail images -->
            <div class="row">
                <div class="column">
                    <img class="demo cursor"
                         src="https://cdn.tgdd.vn/Products/Images/42/114111/iphone-x-256gb-400-460copy-400x460.png"
                         style="width:100%" onclick="currentSlide(1)">
                </div>
                <div class="column">
                    <img class="demo cursor"
                         src="https://cdn.tgdd.vn/Products/Images/42/114114/iphone-8-plus-256gb2-400x460.png"
                         style="width:100%" onclick="currentSlide(2)">
                </div>
                <div class="column">
                    <img class="demo cursor"
                         src="https://cdn.tgdd.vn/Products/Images/42/93713/iphone-7-plus-red-256gb-400x460.png"
                         style="width:100%" onclick="currentSlide(3)">
                </div>
                <div class="column">
                    <img class="demo cursor"
                         src="https://cdn.tgdd.vn/Products/Images/42/60546/iphone-5s-16gb-7-400x460.png"
                         style="width:100%" onclick="currentSlide(4)">
                </div>
            </div>
        </div>
    </div>

    <div class="mid-side col-md-4">
        <div class="mid-side-sale-policy">
            <h1>Price: 24.550.000 VND</h1>
            <ul>
                <li>Sale up to 50%</li>
                <li>Balo gift bonus</li>
                <li>Backup charger bonus</li>
                <li>10% Coupon when buy on REDmarket</li>
                <li>Soccer ticket...</li>
                <li>Free sale</li>
                <li>More and more...</li>
            </ul>
        </div>
        <div class="mid-side-button">
            <button type="button" class="btn btn-danger btn-lg">Add to cart</button>
        </div>
    </div>

    <div class="right-side col-md-3">
        <h1>Details</h1>
        <ul>
            <li>Display: LED-backlit IPS LCD, 5.5", Retina HD</li>
            <li>Operating System: IOS 11</li>
            <li>Camera: 12 MP with OIS</li>
            <li>CPU: Apple A11 Bionic</li>
            <li>RAM: 3GB</li>
            <li>ROM: 128GB</li>
            <li>Battery: 2800mAh</li>
        </ul>
    </div>
</div>

<script th:src="@{/js/sideNav.js}"></script>
<script th:src="@{/js/animate.js}"></script>
<script th:src="@{/js/productImgSlide.js}"></script>
</body>
</html>