body {
    font-family: "Segoe UI" !important;
    overflow-x: hidden !important;
    background-color: #ffffff;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

#main {
    transition: margin-left .5s;
    position: relative;
    top: 55px;
    left: 50px;
    margin-right: 50px;
}

#header nav {
    background-color: #d70018;
    border: none !important;
    box-shadow: 0px 1px 5px 0px #888;
}

a {
    color: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#myNavbar li {
    padding: 0 8px;
}

.input-group {
    width: 500px;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: #d70018;
    overflow: hidden;
    transition: 0s;
    padding-top: 60px;
}

.sidenav p {
    display: inline;
    padding-left: 10px;
    vertical-align: bottom;
    font-size: 22px;
}

.sidenav-show-icon img {
    max-width: 40px;
    padding-left: 10px;
    padding-bottom: 55px;
}

.sidenav-hide-icon img {
    max-width: 40px;
    /*padding-left: 10px;*/
}

.sidenav-hide-icon {
    padding: 8px 8px 50px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: none;
    transition: 0s;
}

.sidenav-hide-icon:hover {
    color: #ffffff;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a:first-child {
    padding: 0;
}

.sidenav a:first-child:hover {
    background-color: #d70018;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
}

#sidenav-open {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

#myCarousel-2 {
    margin-top: 10px;
}

.product {
    width: 100%;
    text-align: center;
}

.menu-item li {
    float: left;
    width: 25%;
    padding: 15px 0;
    transition: 0.5s ease;
}

.menu-item li:hover {
    box-shadow: 1px 1px 1px 1px #d1d1d1;
    opacity: 0.6;
}

.menu-item img {
    max-width: 180px;
}

.menu-item a {
    color: #333;
}

.menu-item a:hover {
    text-decoration: none;
}

.menu-item button {
    border-radius: 0px;
    width: 50%;
}
