body {
    font-family: "Segoe UI" !important;
    overflow-x: hidden !important;
    background-color: #ffffff;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

#main {
    transition: margin-left .5s;
    position: relative;
    top: 55px;
    left: 50px;
    margin-right: 50px;
}

#header nav {
    background-color: #d70018;
    border: none;
}

a {
    color: #f1f1f1;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#myNavbar li {
    padding: 0 8px;
}

.input-group {
    width: 500px;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: #d70018;
    overflow: hidden;
    transition: 0s;
    padding-top: 60px;
}

.sidenav p {
    display: inline;
    padding-left: 10px;
    vertical-align: bottom;
    font-size: 22px;
}

.sidenav-show-icon img {
    max-width: 40px;
    padding-left: 10px;
    padding-bottom: 55px;
}

.sidenav-hide-icon img {
    max-width: 40px;
    /*padding-left: 10px;*/
}

.sidenav-hide-icon {
    padding: 8px 8px 50px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: none;
    transition: 0s;
}

.sidenav-hide-icon:hover {
    color: white;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a:first-child {
    padding: 0;
}

.sidenav a:first-child:hover {
    background-color: #d70018;
    color: white;
    text-decoration: none;
    padding: 0;
}

#sidenav-open {
    font-size: 30px;
    color: #f1f1f1;
    cursor: pointer;
}

.link-list ul {
    width: 95%;
    margin: auto;
    padding: 20px 0;
}

.link-list li {
    display: inline;
    text-decoration: underline;
}

.left-side {
    text-align: center;
}

.mid-side-sale-policy {
    border: 1px solid #eeeeee;
}

.right-side {
    border-top: 1px solid #eeeeee;
}

/* Slide Image Gallery*/
.img-slide-wrapper {
    position: relative;
    width: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
    border: 1px solid #eeeeee;
    padding-bottom: 25px;

}

.mySlides img {
    max-width: 300px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Four columns side by side */
.column {
    float: left;
    width: 25%;
}

.column img {
    max-width: 75px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.mid-side ul {
    list-style-type: hiragana;
    padding-left: 30px;
}

.mid-side li {
    padding: 10px 0;
}

.mid-side-sale-policy h1 {
    padding-left: 5px;
}

.mid-side-button {
    margin: 15px 0;
    text-align: center;
}

.mid-side-button button {
    width: 100%;
    border-radius: 0px;
}

.right-side li {
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}